.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  border-radius: 50%;
}

.main-links-container {
  display: flex;
  flex-direction: column;
}

.main-links {
  text-decoration: none;
  font-size: 3em;
  padding: .5vmin;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
}
